@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Azeret Mono", monospace; */

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Azeret Mono", monospace;
  color: #0d1321;
}

/* shared design */

.btn-secondary {
  padding: 17px 24px;
  border: 1px solid #0d1321;
  background-color: transparent;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  cursor: pointer;
  font-family: Azeret Mono;
}

.btn-primary {
  padding: 17px 24px;
  background-color: #0d1321;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  cursor: pointer;
  font-family: Azeret Mono;
}

.btn {
  background-color: white;
  cursor: pointer;
  padding: 12px 20px;
  border: 1px solid rgba(13, 19, 33, 0.7);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
}

.primary-color {
  color: #0d1321;
}

/* Header section */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 35px 150px;
}

.header .name {
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
}

/* Hero section */

.hero-section {
  text-align: center;
  background-image: url("../assets/Hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 26px 221px 44px;
}

.hero-section .text-content {
  margin: 32px 0;
}

.hero-section .title {
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  margin-bottom: 24px;
}

.hero-section .sub-title {
  font-size: 16px;
  line-height: 26px;
}

/* Why Web Development section */
.why-web-development {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  padding: 80px 97px;
  margin: 74px 150px 88px;
}

.why-web-development header {
  text-align: center;
}

.why-web-development .title {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
}

.why-web-development .description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 24px 0 48px;
}

.why-web-development .items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 99px;
  background-color: white;
  padding: 48px;
  border-radius: 16px;
}

.why-web-development .item-2 {
  gap: 32px;
}

.why-web-development .items .title {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.why-web-development .items .description {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 16px 0 32px;
}

.why-web-development .reasons {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Inspiration Section */

.inspiration {
  margin: 0 150px 149px;
}

.inspiration header {
  text-align: center;
  padding: 0 144px;
}

.inspiration .title {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
}

.inspiration .description {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 24px 0 48px;
}

.video-for-inspiration {
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}

.video-for-inspiration .youtube-source-video {
  padding: 32px;
}

.video-for-inspiration .youtube-source-video iframe {
  border-radius: 16px;
}

/* Current target section */

.current-target {
  margin: 0 150px 111px;
}

.current-target header {
  text-align: center;
  margin: 0 144px 48px;
}

.current-target header .title {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 24px;
}

.current-target header .description {
  font-size: 16px;
  line-height: 26px;
}

.technologies {
  display: flex;
  gap: 24px;
}

.technology {
  padding: 40px;
  border-radius: 16px;
}

.technology-1 {
  background: rgba(255, 76, 30, 0.05);
}
.technology-2 {
  background: rgba(0, 76, 232, 0.05);
}
.technology-3 {
  background: rgba(255, 223, 0, 0.05);
}

.technology .title {
  margin: 24px 0 8px;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}

.technology .description {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}

.technology a {
  color: #0d1321;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

/* Next Target */

.next-target {
  margin: 0 150px;
}

.next-target header {
  text-align: center;
  margin: 0 144px 48px;
}
.next-target header .title {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  margin-bottom: 24px;
}

.next-target header .description {
  font-size: 16px;
  line-height: 26px;
}

.next-technologies {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.next-technology {
  display: flex;
  align-items: center;
  gap: 24px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  padding: 40px;
}

.next-technology .title {
  margin: 0 0 8px;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}

.next-technology .description {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 24px;
}

.next-technology a {
  color: #0d1321;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

/* Feedback section */

.feedback {
  padding: 64px 48px;
  margin: 41px 150px 79px;
  border-radius: 16px;
  background-image: url("../assets/handshake.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback header,
form {
  text-align: center;
}

.feedback header {
  margin-bottom: 24px;
}

.feedback header .title {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 16px;
}

.feedback header .description {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 0 62px;
  margin-bottom: 24px;
}

form input[type="text"] {
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  color: rgba(13, 19, 33, 0.4);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding: 19px 20px;
  width: 548px;
}

form input[type="submit"] {
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  color: #0d1321;
  background-color: white;
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  padding: 17px 20px;
  cursor: pointer;
}

/* Footer section */
footer {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 150px;
}

.icons{
  display: flex;
  gap: 24px;
}
